@using PLM.Utility
@model PLM.Models.ViewModels.HomeVM

@{
    ViewData["Title"] = "Home Page";
}
<div class="pb-4"></div>

<div class="card text-white bg-primary mb-3">
    <div class="card-body">
        <h3 class="card-title">Mabuhay!</h3>
        <p class="card-text">We supply wholesale frozen meat products like pork, chicken and beef: perfect for your food business!</p>
    </div>
</div>

<div class="col-12 text-center mb-3">
        <h1 class="text-primary text-center">Welcome to Meatify</h1>
        <img src="~/images/meatify-small-logo.png" width="10%" />
</div>

<div class="card text-white bg-primary mb-3">
    <div class="card-body">
        <h4 class="card-title">Available Products</h4>
        @*<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>*@
        <p class="card-text">Check out the selection of Meatify's frozen meat products!</p>
        @*<a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>*@
    </div>
</div>


<div class="row pb-3">
    <form method="post" enctype="multipart/form-data">
        <div class="row card border-primary mb-3">
            <div class="card-header">Filter Options</div>
            <div class="col-12">
                <div class="p-3 mt-4 row">
                    <div class="col-3">
                        @*<div asp-validation-summary="All"></div>*@
                        <select asp-for="CategoryId" asp-items="@Model.CategoryList" class="form-select">
                            <option disabled selected>--Select Category--</option>
                        </select>
                    </div>
                    <div class="col-3">
                        @*<div asp-validation-summary="All"></div>*@
                        <select asp-for="BrandId" asp-items="@Model.BrandList" class="form-select">
                            <option disabled selected>--Select Brand--</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <input asp-for="MinPrice" class="form-control" id="floatingInput" placeholder="Minimum Price" style="width: 95%;margin:auto"/>
                        <span asp-validation-for="MinPrice" class="text-danger"></span>
                        <input asp-for="MaxPrice" class="form-control" id="floatingInput" placeholder="Maximum Price" style="width: 95%;margin:auto"/>
                        <span asp-validation-for="MaxPrice" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <button type="submit" class="btn btn-primary" style="width: 95%;margin:auto">Filter</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    @foreach (var product in Model.Products)
    {
        <div class="col-lg-3 col-md-6">
            <div class="row p-2">
                <div class="col-12 p-1" style="border: 1px solid #008cba; border-radius: 5px;">
                    <div class="card">
                        <img src="@product.ImageUrl" style="float: left; height: 150px; object-fit: cover;" class="card-img-top rounded" />

                        <div class="card-body">
                            <div class="pl-1">
                                <p class="card-title h5 text-primary">@product.Name</p>
                                <p class="card-title text-info">Brand: @product.Brand.Name</p>
                                <p>Stock: <b>@product.Stock</b></p>
                                <p>Price: <b>@product.Price.ToString("0.00") PHP</b></p>
                                <p class="text-muted">Expiration: @product.Expiry </p>
                            </div>
                        </div>
                        <div>
                            <a asp-action="Details" class="btn btn-primary form-control" asp-route-productId="@product.Id">Details</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
	<script>
    var SaleRole = '@(User.IsInRole(SD.Role_Sales) ? "true" : "false")';
    var CourRole = '@(User.IsInRole(SD.Role_Courier) ? "true" : "false")';
    var OpsRole = '@(User.IsInRole(SD.Role_Operation) ? "true" : "false")';
    if (@Model.Alert != null && @Model.Alert != 0 && OpsRole == "false") {
        Swal.fire({
            title: "You have " + @Model.Alert.ToString()+ " Reservation(s) to check.",
            text: "Do you want to check them?",
            icon: 'info',
            showCancelButton: true,
            confirmButtonColor: '#30F030',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Take me there.'
        }).then((result) => {
            if (result.isConfirmed) {
                if (SaleRole == "true") {
                    window.location.href = "/Admin/Reservation?status=pending";
                } else if (CourRole == "true") {
                    window.location.href = "/Admin/Reservation?status=approval";
                } 
                else { 
                    window.location.href = "/Admin/Reservation";
                }
            }
        })
    }
    if (@Model.Alert != null && @Model.Alert != 0 && OpsRole == "true") {
        Swal.fire({
            title: @Model.Alert.ToString()+ " Product(s) require your attention",
            text: "Do you want to check them?",
            icon: 'info',
            showCancelButton: true,
            confirmButtonColor: '#30F030',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Take me there.'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Admin/Inventory";
            }
        })
    }
    </script>
}